
@{
    ViewData["Title"] = "RequestSended";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request Sended Complitely</title>
</head>
<body>
    <div class="text-center">
        <p></p>
        <h1 class="display-4">Request Sended</h1>
       
        <p></p>
        <br />
    </div>
</body>
</html>

